<form [formGroup]="alertaPacienteForm" (ngSubmit)="crearALerta(alertaPacienteForm.value)">
    <div class="modal-body">
        <div class="row mb-2">
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Descripción</mat-label>
                    <input matInput type="text" id="descripcion" formControlName="descripcion">
                    <mat-error>Campo requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Fecha</mat-label>
                    <input matInput type="text" id="fecha" formControlName="fecha" readonly>
                    <mat-error>Campo Requerido</mat-error>
                </mat-form-field>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Observaciones</mat-label>
                    <textarea matInput formControlName="observaciones"></textarea>
                    @if(alertaPacienteForm.get('observaciones')?.hasError('esEspacio')){
                    <mat-error>
                        Las observaciones no pueden ser solo espacios.
                    </mat-error>
                    }

                </mat-form-field>
            </div>
        </div>
        <div class="modal-footer custom-blue-dark">
           
            @if(this.infoPa?.alerta){
            <button type="button" class="btn btn-light text-danger "
                (click)="eliminarAlerta(alertaPacienteForm.value)">Eliminar</button>
                <button type="button" #btnClose class="btn btn-dark" data-bs-dismiss="modal" (click)="cerrarM()">Cerrar</button>
            <button type="button" class="btn btn-warning pruebaOrigen text-white"
                (click)="modificarAlerta(alertaPacienteForm.value)">Modificar</button>

            }@else{
                <button type="button" #btnClose class="btn btn-dark" data-bs-dismiss="modal" (click)="cerrarM()">Cerrar</button>
            <button type="submit" class="btn pruebaOrigen text-white">Crear</button>
            }
         
        </div>
    </div>

</form>