<div class="container-fluid  uno">

  <div class="row mt-0">
    <!-- Primer cuadrado -->
    <div class="col-1 bg-warning2 square-mini3 d-none d-md-block">&nbsp;</div>
    <!-- Segundo cuadrado -->
    <div class="col-12 col-md-10 bg-warning square-mini3 p0 mx-0">
      <div class="row">
        <!--nombre paciente -->

        <div class="col-12 col-md-4 d-flex flex-row justify-content-left align-items-center">
          @if (this.infoPa) {
          <p class="text-dark fs-6">Paciente: <b class="text-body">{{this.infoPa.Nombre}}</b></p>
          }
        </div>
        <!--edad -->
        <div class="col-12 col-md-4 d-flex flex-row justify-content-left  align-items-center">
          @if (this.infoPa) {
          <p class="text-dark fs-6">Edad: <b class="text-body">{{this.infoPa.Edad}}</b></p>
          }
        </div>
        <!--Cama-->
        <div class="col-12 col-md-4 d-flex flex-row justify-content-left  align-items-center">
          @if (this.infoPa) {
          <span class="material-symbols-outlined  d-none d-lg-inline mx-2 icono-grande ">
            bed
          </span> <span class="d-lg-none text-dark fs-6">Cama: &nbsp;</span>
          <p class="d-flex text-dark my-2 fs-6 fw-bold">{{this.camaVista}}
          </p> }@else if (this.camaS) {
          <span class="material-symbols-outlined  d-none d-lg-inline mx-2">
            bed
          </span>
          <span class="d-lg-none text-dark fs-6">Cama: &nbsp;</span>
          <p class="text-body text-dark fs-6  mt-2">

            @if(this.camaS.id_habitacion > 9){
            {{this.camaS.id_planta}}{{this.camaS.id_habitacion}}{{this.camaS.letra}}
            }@else{
            {{this.camaS.id_planta}}0{{this.camaS.id_habitacion}}{{this.camaS.letra}}
            }

          </p>

          }
        </div>
      </div>
      <div class="row">
        <!--sintomas-->
        <div class="col-12 col-md-4 d-flex flex-row justify-content-left  align-items-center">
          @if (this.infoPa?.Patologias?.length > 0) {
          <p class="text-dark fs-6">Sintomas: <b class="text-body ">{{this.infoPa?.Patologias[0]?.Sintomas}}</b></p>
          }
        </div>
        <!--alertas-->
        <div class="col-12 col-md-4 d-flex flex-row justify-content-left  align-items-center">
          @if (this.infoPa?.alerta) {
          <!-- <i class="bi bi-exclamation-triangle  d-none d-lg-inline mx-2 icono-grande"></i>&nbsp; -->
          <p class="text-dark fs-6">Alerta: <b class="text-body  ">{{this.infoPa.alerta.descripcion}}</b></p>
          }
        </div>
        <!--diagnostico -->
        <div class="col-12 col-md-4 d-flex flex-row justify-content-left align-items-center">
          @if (this.infoPa?.Patologias?.length > 0) {
          <p class="text-dark fs-6">Diagnóstico: <b class="text-body ">{{ infoPa.Patologias[0]?.Diagnostico }}</b></p>
          }
        </div>
      </div>
    </div>
    <!-- Tercer cuadrado -->
    <div class="col-1 bg-warning21 square-mini3 d-none d-md-block">&nbsp;</div>
  </div>


  <div class="row menu cuerpo mt-2">
    <div class="col-1 square-mini pruebaOrigen  d-none d-md-block">&nbsp;</div>
    <!-- Segundo cuadrado -->
    <div class="col-12 col-md-10 bg-primary prueba d-flex align-items-center justify-content-left square-mini ">

      <nav class="navbar navbar-expand-lg navbar-light w-100 d-flex align-items-center justify-content-between">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="./user/dashboard"  (click)="$event.preventDefault()">SESCAM</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active text-white" href="#" data-bs-toggle="modal"
                  data-bs-target="#modalBuscarPaciente">
                  <i class="bi bi-search icono-grande d-none d-lg-inline mx-2" matTooltip="Buscar Paciente"></i>
                  <span class="d-inline d-lg-none">Buscar Paciente</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-white" href="#" data-bs-toggle="modal"
                  data-bs-target="#modalAddPacienteForm">
                  <i class="bi bi-person-plus icono-grande d-none d-lg-inline mx-2" matTooltip="Añadir Paciente"></i>
                  <span class="d-inline d-lg-none">Añadir Paciente</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#" (click)="comprobarSeleccion($event)">
                  <i class="bi bi-prescription2 icono-grande d-none d-lg-inline mx-2"
                    matTooltip="Ingresar Paciente"></i>
                  <span class="d-inline d-lg-none">Ingresar Paciente</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#" (click)="bloquearCama($event)"
                  [class.disabled]="!camaSeleccionada">
                  <i class="bi bi-lock icono-grande d-none d-lg-inline mx-2" matTooltip="Bloquear Cama"></i>
                  <span class="d-inline d-lg-none">Bloquear Cama</span>
                </a>
              </li>
              <li class="nav-item" [class.disabled]="select">
                <a class="nav-link text-white" href="#" (click)="desbloquearCama($event)"
                  [class.disabled]="!camaSeleccionada">
                  <i class="bi bi-unlock icono-grande d-none d-lg-inline mx-2" matTooltip="Desbloquear Cama"></i>
                  <span class="d-inline d-lg-none">Desbloquear Cama</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#" (click)="crearAlerta($event)">
                  <i class="bi bi-exclamation-triangle icono-grande d-none d-lg-inline mx-2"
                    matTooltip="Crear Alerta"></i>
                  <span class="d-inline d-lg-none">Crear Alerta</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#" (click)="generarInformee($event)">
                  <i class="bi bi-clipboard2-pulse-fill icono-grande d-none d-lg-inline mx-2"
                    matTooltip="Generar Informe"></i>
                  <span class="d-inline d-lg-none">Generar Informe</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#" (click)="darAlta($event)">
                  <i class="bi bi-person-up d-none icono-grande d-lg-inline mx-2" matTooltip="Alta Paciente"></i>
                  <span class="d-inline d-lg-none">Alta Paciente</span>
                </a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link text-white" href="#" (click)="cerrarSesion($event)">
                  <i class="bi bi-box-arrow-right icono-grande d-none d-lg-inline mx-2" matTooltip="Cerrar Sesión"></i>
                  <span class="d-inline d-lg-none">Cerrar Sesión</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </div>
    <div class="col-1 square-mini customColor  d-none d-md-block"></div>
  </div>

  <div class="row centro   dos">
    <!-- Séptimo cuadrado -->
    <div class="col-1 bg-transparent square d-none d-md-block">&nbsp;</div>
    <!-- Octavo cuadrado -->
    <div class="col-12 col-md-10 text-light  container-fluid h-75 d-flex flex-column"> <!--square-->

      <app-dashboard (camaSeleccionadaEvent)="camaSeleccionada($event)" [camaActualizada]="camaM"
        class="dash "></app-dashboard>


    </div>
    <!-- Noveno cuadrado -->
    <div class="col-1  bg-transparent  square d-none d-md-block">&nbsp;</div>
  </div>





  <!-- FOOTERRR-->
  <div class="row  footer mt-2 tres">
    <!-- Primera columna (1/12) -->
    <div class="col-1 bg-transparent d-flex flex-column p-0 d-none d-md-block">
      <div class="d-flex flex-column flex-grow-1">
        <!-- Contenido de la primera columna -->
        <div class="flex-grow-1 d-flex justify-content-center align-items-center pruebaOrigen  square-miniFooter">&nbsp;
        </div>
        <div class="flex-grow-2 d-flex justify-content-center align-items-center">&nbsp;</div>
        <div class="flex-grow-1 d-flex justify-content-center align-items-center ">&nbsp;</div>
      </div>
    </div>

    <!-- Segunda columna (10/12) -->
    <div class="col-12 col-md-10 bg-transparent square d-flex flex-column p-0 position-relative">
      <!-- Primera fila -->
      <div class="flex-grow-1 d-flex justify-content-center align-items-center bg-light mt-1 mb-0 square-miniFooter">
        <!-- Botones fijos -->
        <div class="position-absolute fixed-top prueba square-miniFooter">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn" (click)="notaEnfermeria($event)" matTooltip="Notas de enfermería">
              <mat-icon class="example-tab-icon text-white">note_add</mat-icon>
              <!-- <span class="d-inline d-md-none text-white fs-6">Notas de enfermería</span> -->
            </button>
            <button type="button" class="btn" matTooltip="Hoja de prescripción" (click)="mostrarTabla('prescripcion')">
              <mat-icon class="example-tab-icon text-white">assignment</mat-icon>
              <!-- <span class="d-inline d-md-none text-white fs-6">Hoja de prescripción</span> -->
            </button>
            <button type="button" class="btn" matTooltip="Patología" (click)="mostrarTabla('patologia')">
              <mat-icon class="example-tab-icon text-white">assignment_late</mat-icon>
              <!-- <span class="d-inline d-md-none text-white fs-6">Patología</span> -->
            </button>
          </div>
        </div>
      </div>

      <!-- Segunda fila -->
      <div class="flex-grow-1 d-flex justify-content-center mt-0 w-100 ">
        <!-- Contenido de la segunda fila -->
        <div *ngIf="mostrarTablaPrescripcion">
          <div class="table-responsive w-100  py-0 bg-primary2">
            <table class="table table-bordered table-striped table-hover  table-fit2 mb-0 w-100">
              <thead class="thead-dark thead-fixed">
                <tr>
                  <th>Id</th>
                  <th>Especialidad</th>
                  <th>Principio Activo</th>
                  <th>Dosis</th>
                  <th>Vía Administración</th>
                  <th>Frecuencia</th>
                  <th>Fecha Fin Tratamiento</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dato of datosHojaPre">
                  <td>{{ dato.id_hoja }}</td>
                  <td>{{ dato.especialidad }}</td>
                  <td>{{ dato.principio_activo }}</td>
                  <td>{{ dato.dosis }}</td>
                  <td>{{ dato.via_administracion }}</td>
                  <td>{{ dato.frecuencia }}</td>
                  <td>{{ tranformarFecha(dato.fecha_fin_tratamiento) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div *ngIf="mostrarTablaPatologia">
          <div class="table-responsive w-100  py-0">
            <table class="table table-bordered table-striped table-hover table-wrapper table-fit2 mb-0">

              <thead class="thead-dark thead-fixed">
                <tr>
                  <th>Id</th>
                  <th>Fecha inicio</th>
                  <th>Fecha diagnostico</th>
                  <th>Sintomas</th>
                  <th>Diagnostico</th>
                  <th>Especialidad</th>
                  <th>Codificación</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dato of datosPatologias">
                  <td>{{ dato.id_patologia}}</td>
                  <td>{{ tranformarFecha(dato.fecha_inicio) }}</td>
                  <td>{{ tranformarFecha(dato.fecha_diagnostico) }}</td>
                  <td>{{ dato.sintomas }}</td>
                  <td>{{ dato.diagnostico }}</td>
                  <td>{{ dato.especialidad }}</td>
                  <td>{{ dato.codificacion }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Tercera fila -->
      <div class="d-flex justify-content-end mt-2 w-100">
        @if (mostrarTablaPatologia) {<button type="button" class="btn pruebaOrigen text-white" data-bs-toggle="modal"
          data-bs-target="#addTablaPatologia">
          Añadir
        </button>
        }
        @if (mostrarTablaPrescripcion) {<button type="button" class="btn pruebaOrigen text-white" data-bs-toggle="modal"
          data-bs-target="#hojaPrescripcionModal">Añadir</button>}

      </div>
    </div>


    <!-- Tercera columna vaciass del aldo, se e liminas en small -->
    <div class="col-1 bg-transparent d-flex flex-column p-0 d-none d-md-block">
      <div class="d-flex flex-column flex-grow-1">
        <!-- Contenido de la tercera columna -->
        <div class="flex-grow-1 d-flex justify-content-center align-items-center customColor2 square-miniFooter">&nbsp;
        </div>
        <div class="flex-grow-2 d-flex justify-content-center align-items-center">&nbsp;</div>
        <div class="flex-grow-1 d-flex justify-content-center align-items-center ">&nbsp;</div>
      </div>
    </div>
  </div>





</div>


<!--MODALEs-->
<div class="modal fade" id="enfermeriaModal" tabindex="-1" #modalEnfermeria aria-labelledby="enfermeriaModalLabel"
  aria-hidden="true" (shown.bs.modal)=" ensenarModal()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header   pruebaOrigen">
        <h5 class="modal-title    fs-4 text-white  " id="enfermeriaModalLabel">Notas de enfermería</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <app-notas-enfermeria (camaSeleccionadaEvent)="camaSeleccionada($event)" [camaActualizada]="camaS"
        [fechaActualizada]="fechaFlag" [infoPa]="infoPa"></app-notas-enfermeria>
    </div>
  </div>
</div>
<!--tabla patologias-->
<div class="modal fade" id="addTablaPatologia" tabindex="-1" aria-labelledby="addTablaPatologiaLabel" aria-hidden="true"
  (shown.bs.modal)=" ensenarModal()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header pruebaOrigen">
        <h5 class="modal-title text-white fs-4 d-flex align-items-center" id="addTablaPatologiaLabel">Añadir Patología
        </h5>
        <button type="button" class="btn-close  btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <app-ingresar-patologia (camaSeleccionadaEvent)="camaSeleccionada($event)" [camaActualizada]="camaS"
        [fechaActualizada]="fechaFlag" [infoPa]="infoPa"></app-ingresar-patologia>
    </div>
  </div>
</div>
<!--Hoja de prescripcion-->
<div class="modal fade" id="hojaPrescripcionModal" tabindex="-1" aria-labelledby="hojaPrescripcionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header pruebaOrigen">
        <h5 class="modal-title    fs-4 text-white" id="hojaPrescripcionModalLabel">Añadir Hoja de Prescripción</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <app-ingresar-hoja-pre (camaSeleccionadaEvent)="camaSeleccionada($event)" [camaActualizada]="camaS"
        [fechaActualizada]="fechaFlag" [infoPa]="infoPa"></app-ingresar-hoja-pre>
    </div>
  </div>
</div>

<!--BUSQUEDa-->
<div class="modal fade" #buscarPaciente id="modalBuscarPaciente" tabindex="-1"
  aria-labelledby="modalBuscarPacienteLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header pruebaOrigen">
        <h5 class="modal-title text-light  fs-5" id="modalBuscarPacienteLabel">Búsqueda de pacientes</h5>
        <button type="button" #btnClose class="btn-close btn-close-white  " data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <app-buscador (pacienteSeleccionado)="pacienteSeleccionado($event)"></app-buscador>
    </div>
  </div>
</div>
<!--Formulario info de paciente-->
<div class="modal fade" #infoPaciente id="modalPacienteForm" tabindex="-1" aria-labelledby="modalPacienteFormLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header pruebaOrigen">
        <h5 class="modal-title text-light  fs-5" id="modalPacienteFormLabel">Información del Paciente</h5>
        <button type="button" #btnClose class="btn-close btn-close-white  " data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <app-form-pacientes [paciente]="paciente"></app-form-pacientes>
    </div>
  </div>
</div>

<div class="modal fade" #altaPaciente id="modalAddPacienteForm" tabindex="-1"
  aria-labelledby="modalAddPacienteFormLabel" aria-hidden="true" (shown.bs.modal)=" ensenarModal()">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-header pruebaOrigen">
        <h5 class="modal-title text-light  fs-5" id="modalAddPacienteFormLabel">Añadir Paciente</h5>
        <button type="button" #btnClose (click)="resetForm()" class="btn-close btn-close-white  "
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <app-alta-paciente #altaPacienteForm ></app-alta-paciente>
    </div>
  </div>
</div>

<div class="modal fade" #ingresarPaciente id="modalIngresarPaciente" tabindex="-1"
  aria-labelledby="modalIngresarPacienteLabel" aria-hidden="true" (shown.bs.modal)=" ensenarModal()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-custom pruebaOrigen">
        <h5 class="modal-title text-light  fs-5" id="modalIngresarPacienteLabel">Ingresar Paciente</h5>
        <button type="button" #btnClose class="btn-close btn-close-white  " data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <app-ingresar-paciente (camaSeleccionadaEvent)="camaSeleccionada($event)" [camaActualizada]="camaS"
        (deseleccionarCama)="this.dashboardComponent.deseleccionarCama()" [fechaActualizada]="fechaFlag"></app-ingresar-paciente>
    </div>
  </div>
</div>

<div class="modal fade" #darAltaPaciente id="modalDarAltaPaciente" tabindex="-1"
  aria-labelledby="modalDarAltaPacienteLabel" aria-hidden="true" (shown.bs.modal)=" ensenarModal()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header pruebaOrigen">
        <h5 class="modal-title text-light  fs-5" id="modalDarAltaPacienteLabel">Alta Paciente</h5>
        <button type="button" #btnClose class="btn-close btn-close-white  " data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <app-dar-alta-paciente (camaSeleccionadaEvent)="camaSeleccionada($event)" [camaActualizada]="camaS"
        [fechaActualizada]="fechaFlag" [infoPa]="infoPa"
        (deseleccionarCama)="this.dashboardComponent.deseleccionarCama()"></app-dar-alta-paciente>
    </div>
  </div>
</div>

<div class="modal fade" #alertaPaciente id="alertaPaciente" tabindex="-1" aria-labelledby="alertaPacienteLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title text-dark fs-4  " id="alertaPacienteLabel">Alertas</h5>
        <button type="button" #btnClose class="btn-close btn-close-white  " data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <app-alerta-paciente (camaSeleccionadaEvent)="camaSeleccionada($event)" [camaActualizada]="camaS"
        [infoPa]="infoPa" (deseleccionarCama)="this.dashboardComponent.deseleccionarCama()"></app-alerta-paciente>
    </div>
  </div>
</div>

<!-- -->

<!--modal informes-->
<div class="modal fade" id="generarInformeModal" #generarInforme Modaltabindex="-1"
  aria-labelledby="generarInformeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header pruebaOrigen">
        <h5 class="modal-title    fs-4 text-white text-white" id="generarInformeModalLabel">Informe Paciente</h5>
        <button type="button" class="btn-close  btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-primary2">
        <div class="container-fluid">
          <!-- tabla alta -->
          <div class="row d-flex justify-content-center align-items-center w-100 my-1">
            <p class="fs-5 text-center text-white ">INGRESOS</p>
          </div>

          <div class="row my-2">
            <div class="col-12">
              <div class="table-responsive table-wrapper">
                <table class="table table-bordered table-striped table-hover table-fit w-100  ">
                  <thead class="thead-fixed thead-dark bg-info2 text-white">
                    <tr>
                      <th>ID</th>
                      <th>Esatdo NHC</th>
                      <th>ID Ambito</th>
                      <th>Fecha</th>
                      <th>Hora</th>
                      <th>ID Cama</th>
                    </tr>
                  </thead>
                  <tbody class="customBody">
                    <tr *ngFor="let dato of datosIngresos">
                      <td>{{ dato.id_ingreso }}</td>
                      <td>{{ dato.estado_nhc }}</td>
                      <td>{{ dato.id_ambito }}</td>
                      <td>{{ tranformarFecha(dato.Fecha) }}</td>
                      <td>{{ dato.Hora }}</td>
                      <td>{{ dato.id_cama }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
          <div class="row d-flex justify-content-center align-items-center w-100 my-1">
            <p class="fs-5 text-center text-white ">NOTAS ENFERMERIA</p>
          </div>

          <!-- tabla notas  -->
          <div class="row my-2">
            <div class="col-12">
              <div class="table-responsive table-wrapper">
                <table class="table table-bordered table-striped      table-hover   table-fit">
                  <thead class="thead-fixed thead-dark bg-info2 text-white">
                    <tr>
                      <th>ID</th>
                      <th>Fecha</th>
                      <th>Hora </th>
                      <th>Temperatura</th>
                      <th>T.A Sistólica</th>
                      <th>T.A Diastólica</th>
                      <th>F Cardíaca</th>
                      <th>F Respiratoria</th>
                      <th>Peso</th>
                      <th>Talla</th>
                      <th>IMC</th>
                      <th>Glucemia Capilar</th>
                      <th>Ingesta Alimentos</th>
                      <th>Tipo Deposición</th>
                      <th>Náuseas</th>
                      <th>Prurito</th>
                      <th>Observaciones</th>
                    </tr>
                  </thead>
                  <tbody class="customBody">
                    <tr *ngFor="let item of datosEnfermeria">
                      <td>{{ item.id_notas }}</td>
                      <td>{{ tranformarFecha(item.fecha_toma) }}</td>
                      <td>{{ item.hora_toma }}</td>
                      <td>{{ item.temperatura }}</td>
                      <td>{{ item.tension_arterial_sistolica }}</td>
                      <td>{{ item.tension_arterial_diastolica }}</td>
                      <td>{{ item.frecuencia_cardiaca }}</td>
                      <td>{{ item.frecuencia_respiratoria }}</td>
                      <td>{{ item.peso }}</td>
                      <td>{{ item.talla }}</td>
                      <td>{{ item.indice_masa_corporal }}</td>
                      <td>{{ item.glucemia_capilar }}</td>
                      <td>{{ item.ingesta_alimentos }}</td>
                      <td>{{ item.tipo_deposicion }}</td>
                      <td>{{ item.nauseas }}</td>
                      <td>{{ item.prurito }}</td>
                      <td>{{ item.observaciones }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center align-items-center w-100 my-1">
            <p class="fs-5 text-center text-white ">BALANCES HÍDRICOS</p>
          </div>

          <!--tabla balnces-->
          <div class="row my-2">
            <div class="col-12">
              <div class="table-responsive table-wrapper">
                <table class="table table-bordered table-striped      table-hover   table-fit">
                  <thead class="thead-fixed thead-dark bg-info2 text-white">
                    <tr>
                      <th>ID</th>
                      <th>E Alimentos</th>
                      <th>E Líquidos</th>
                      <th>E Fluidoterapia</th>
                      <th>E Hemoderivados</th>
                      <th>E Otros Entrada</th>
                      <th>S Diuresis</th>
                      <th>S Vómitos</th>
                      <th>S Heces</th>
                      <th>S Nasogástrica</th>
                      <th>S Drenajes</th>
                      <th>Otras Pérdidas</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody class="customBody">
                    <tr *ngFor="let item of datosEnfermeria">
                      <td>{{ item.id_notas }}</td>
                      <td>{{ item.balance_hidrico_entrada_alimentos }}</td>
                      <td>{{ item.balance_hidrico_entrada_liquidos }}</td>
                      <td>{{ item.balance_hidrico_fluidoterapia }}</td>
                      <td>{{ item.balance_hidrico_hemoderivados }}</td>
                      <td>{{ item.balance_hidrico_otros_entrada }}</td>
                      <td>{{ item.balance_hidrico_diuresis }}</td>
                      <td>{{ item.balance_hidrico_vomitos }}</td>
                      <td>{{ item.balance_hidrico_heces }}</td>
                      <td>{{ item.balance_hidrico_sonda_nasogastrica }}</td>
                      <td>{{ item.balance_hidrico_drenajes }}</td>
                      <td>{{ item.balance_hidrico_otras_perdidas }}</td>
                      <td>{{ item.total_balance_hidrico }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>



            </div>
          </div>
          <div class="row d-flex justify-content-center align-items-center w-100 my-1">
            <p class="fs-5 text-center text-white ">ALTAS</p>
          </div>

          <!-- tabla altas-->
          <div class="row my-2">
            <div class="col-12">
              <div class="table-responsive table-wrapper">
                <table class="table table-bordered table-striped      table-hover table-fit w-100  ">
                  <thead class="thead-fixed thead-dark bg-info2 text-white">
                    <tr>
                      <th>ID</th>
                      <th>Fecha</th>
                      <th>Hora</th>
                      <th>Motivo</th>
                      <th>Tipo</th>
                    </tr>
                  </thead>
                  <tbody class="customBody">
                    <tr *ngFor="let item of datosAltas">
                      <td>{{ item.id_alta }}</td>
                      <td>{{ tranformarFecha(item.fecha) }}</td>
                      <td>{{ item.hora }}</td>
                      <td>{{ item.motivo }}</td>
                      <td>{{ item.tipo }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn pruebaOrigen text-white" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>