.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  min-height: 8vh;
}
.square-mini {
  min-height: 4vh;
}
.square-miniFooter {
  min-height: 6vh;
  max-height: 6vh;
}
.bg-warning2{
  background: linear-gradient(to right, #FFFFFF, #ffc107);
}
.bg-warning21{
  background: linear-gradient(to left, #FFFFFF, #ffc107);
}
.square-mini2 {
  min-height: 8vh;
}
.square-mini3 {
  min-height: 10vh;
}
.menu {
  min-height: 6vh;
  
}
.centro {
  height: 50vh;
  max-height: 50vh;
  overflow-y: auto;
}

.dash {
  min-height: 45vh;
  max-height: 45vh;
}
@media (max-width: 768px)  {
  
  .dash {
    height: 25vh;
    max-height: 25vh;
  }
}
@media (max-width: 576px) {

  .dash {
    height: 15vh;
    max-height: 15vh;
  }
}
@media (max-width: 350px) {

  .dash {
    height: 6vh;
    max-height: 6vh;
  }
}

.footer{
  height: 30vh;
}
.prueba {
  background: linear-gradient(
    90deg,
    rgba(27, 60, 107, 1) 0%,
    rgba(13, 110, 253, 0.3113620448179272) 71%
  ) !important;
}
.pruebaOrigen {
  background: rgba(27, 60, 107, 1);
}

.customColor {
  background: #94B8ED !important;
}
.icono-grande {
  font-size: 1.5rem;
}

.bg-custom {
  background: #011a5d !important;
}

.btn-close-white {
  filter: invert(1) !important;
}
.cuerpo{
  background: linear-gradient(to right, #eceeef,#cfd8e5) !important;
}

table{
  width: 100%;
}

.tbody-container {
  min-height: 10vh;
  max-height: 15vh; 
  overflow-y: auto;
}

.tbody-container table {
  width: 100vh;
}

.table-responsive {
  max-width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  max-height: 18vh; 
}

.table th, .table td {
  white-space: wrap;
}
.table {
  width: 100%;
  table-layout: fixed;
}

.thead-fixed th {
  position: sticky;
  top: 0;
  background-color: #B4D2FE !important;
  z-index: 100;
}

.customColor2{
  background: #B4D2FE;
}

.table-wrapper {
  overflow-y: auto;
  overflow-x: auto !important;
}

.table-fit {
  min-height: 25vh;
  width:100% !important;
  table-layout: auto !important;
}
.table-fit2 {
  max-width:98% !important;
  table-layout: auto !important;

}

.customBody{
  min-height: 25vh  !important;
}

.bg-primary2{
  background: rgba(0, 63, 252, 0.807) !important;
  overflow-x: auto;
}

.table.shadow-lg {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.table-fit2 th,
.table-fit2 td {
  white-space: nowrap; 
}

@media (max-width: 767px) {
  .table-fit2 th,
  .table-fit2 td {
    white-space: normal; 
    word-wrap: break-word; 
  }


}
