<form [formGroup]="altaPacienteForm" (ngSubmit)="crearPaciente(altaPacienteForm.value)">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>NHC</mat-label>
                    <input matInput type="text" id="nhcf" formControlName="nhc" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>NIF</mat-label>
                    <input matInput type="text" id="nif" formControlName="nif">
                    @if (altaPacienteForm.invalid) {
                    <mat-error *ngIf="getNif?.invalid">{{ getErroresNif() }}</mat-error>
                    }

                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Sexo</mat-label>
                    <mat-select formControlName="sexo">
                        <mat-option value="Hombre">Hombre</mat-option>
                        <mat-option value="Mujer">Mujer</mat-option>
                    </mat-select>
                    @if (altaPacienteForm.invalid) {
                    <mat-error *ngIf="this.altaPacienteForm.get('sexo')?.invalid">Campo requerido</mat-error>
                    }
                </mat-form-field>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" id="nombre" formControlName="nombre">
                    <mat-error>Campo requerido</mat-error>

                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Apellido1</mat-label>
                    <input matInput type="text" id="apellido1" formControlName="apellido1">
                    <mat-error>Campo requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Apellido2</mat-label>
                    <input matInput type="text" id="apellido2" formControlName="apellido2">
                    <mat-error>Campo requerido</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Estado Civil</mat-label>
                    <mat-select formControlName="estadoCivil">
                        <mat-option value="Soltero/a">Soltero/a</mat-option>
                        <mat-option value="Casado/a">Casado/a</mat-option>
                        <mat-option value="Viudo/a">Viudo/a</mat-option>
                        <mat-option value="Divorciado/a">Divorciado/a</mat-option>
                    </mat-select>
                    <mat-error>Campo Requerido</mat-error>
                </mat-form-field>

            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    @if (altaPacienteForm.invalid) {
                    <mat-error *ngIf="this.altaPacienteForm.get('fechaNacimiento')?.invalid">Campo requerido</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>Estudios</mat-label>
                    <input matInput type="text" id="estudios" formControlName="estudios">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Teléfono 1</mat-label>
                    <input matInput type="number" id="telefono1" formControlName="telefono1" [min]="0">
                    @if (altaPacienteForm.invalid) {
                    <mat-error *ngIf="this.altaPacienteForm.get('telefono1')?.invalid">Campo requerido</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Teléfono 2</mat-label>
                    <input matInput type="number" id="telefono2" formControlName="telefono2" [min]="0">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Móvil</mat-label>
                    <input matInput type="number" id="movil" formControlName="movil" [min]="0">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nacionalidad</mat-label>
                    <mat-select formControlName="nacionalidad">
                        <mat-option value="Nacional">Nacional</mat-option>
                        <mat-option value="Extranjero">Extranjero</mat-option>
                    </mat-select>
                    @if (altaPacienteForm.get('nacionalidad')?.hasError('required')) {
                    <mat-error>Campo requerido</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Fallecido</mat-label>
                    <mat-select formControlName="fallecido">
                        <mat-option value="Si">Si</mat-option>
                        <mat-option value="No">No</mat-option>
                    </mat-select>
                    @if (altaPacienteForm.invalid) {
                    <mat-error *ngIf="this.altaPacienteForm.get('fallecido')?.invalid">Campo requerido</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>


        <div class="my-4 text-white font-weight-bold p-2"
            style="background: linear-gradient(to right, rgba(27, 60, 107, 1), rgba(13, 202, 240, 0.041)); font-size: 1.5rem;">
            <p class="fs-6">Domicilio</p>
            
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Comunidad Autónoma</mat-label>
                    <mat-select id="cAutonoma" formControlName="cAutonoma">
                        @for (comunidad of comunidades; track comunidad) {
                        <mat-option [value]="comunidad.id_cautonoma">{{comunidad.nombre}}</mat-option>
                        }
                    </mat-select>
                    <mat-error>Campo requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Provincia</mat-label>
                    <mat-select id="provincia" formControlName="provincia">
                        @for (provincia of provincias; track provincia) {
                        <mat-option [value]="provincia.nombre">{{provincia.nombre}}</mat-option>
                        }
                    </mat-select>
                    <mat-error>Campo requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Población</mat-label>
                    <input matInput type="text" id="poblacion" formControlName="poblacion">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Dirección</mat-label>
                    <input matInput type="text" id="direccion" formControlName="direccion">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Código Postal</mat-label>
                    <input matInput type="number" id="cp" formControlName="cp">
                    <mat-error
                        *ngIf="altaPacienteForm.get('cp')?.hasError('min') || altaPacienteForm.get('cp')?.hasError('max')">
                        El código postal debe estar entre 01000 y 52999
                    </mat-error>
                </mat-form-field>
            </div>
        </div>


        <div class="my-4 text-white font-weight-bold p-2"
            style="background: linear-gradient(to right, rgba(27, 60, 107, 1), rgba(13, 202, 240, 0.041)); font-size: 1.5rem;">
          
            <p class="fs-6">Datos Atención Primaria</p>
        </div>




        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>NumeroSS</mat-label>
                    <input matInput type="text" id="numeroSS" formControlName="numeroSS">
                    @if (altaPacienteForm.invalid) {
                    <mat-error *ngIf="this.altaPacienteForm.get('numeroSS')?.invalid">Campo requerido</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Titular</mat-label>
                    <input matInput type="text" id="titular" formControlName="titular">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Regimen</mat-label>
                    <mat-select formControlName="regimen">
                        <mat-option value="Seguridad Social">Seguridad Social</mat-option>
                        <mat-option value="Mutuas Laborales">Mutuas Laborales</mat-option>
                        <mat-option value="Seguro Privado">Seguro Privado</mat-option>
                    </mat-select>
                    @if (altaPacienteForm.invalid) {
                    <mat-error *ngIf="this.altaPacienteForm.get('regimen')?.invalid">Campo requerido</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>TIS</mat-label>
                    <input matInput type="text" id="tis" formControlName="tis">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Médico</mat-label>
                    <input matInput type="text" id="medico" formControlName="medico">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>CAP</mat-label>
                    <input matInput type="text" id="cap" formControlName="cap" readonly>
                </mat-form-field>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Área de salud</mat-label>
                    <mat-select formControlName="area">
                        <mat-option [value]="">Seleccionar área</mat-option>
                        <mat-option *ngFor="let area of areas" [value]="area.id_area_salud"
                            tabindex="3">{{area.nombre}}</mat-option>
                    </mat-select>
                    @if (altaPacienteForm.invalid) {
                    <mat-error *ngIf="this.altaPacienteForm.get('area')?.invalid">Campo requerido</mat-error>
                    }
                    <!--   <mat-icon matSuffix>shield_outline</mat-icon> -->
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Zona Básica de Salud</mat-label>
                    <mat-select formControlName="zona">
                        <mat-option *ngFor="let zona of zonas" [value]="zona.nombre"
                            tabindex="3">{{zona.nombre}}</mat-option>
                    </mat-select>
                    @if (altaPacienteForm.invalid) {
                    <mat-error *ngIf="this.altaPacienteForm.get('zona')?.invalid">Campo requerido</mat-error>
                    }
                    <!--   <mat-icon matSuffix>shield_outline</mat-icon> -->
                </mat-form-field>
            </div>
        </div>


        <div class="my-4 text-white font-weight-bold p-2"
            style="background: linear-gradient(to right, rgba(27, 60, 107, 1), rgba(13, 202, 240, 0.041)); font-size: 1.5rem;">
            <p class="fs-6 "> Nacimiento</p>
        </div>



        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nacimiento</mat-label>
                    <mat-select formControlName="nacimiento">
                        <mat-option value="Nacional">Nacional</mat-option>
                        <mat-option value="Extranjero">Extranjero</mat-option>
                    </mat-select>
                    @if (altaPacienteForm.get('nacimiento')?.hasError('required')) {
                    <mat-error>Campo requerido</mat-error>
                    }
                </mat-form-field>
            </div>
            <!--  @if (altaPacienteForm.get("nacimiento")?.value) {-->
            @if (esNacional) {
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Comunidad Autónoma</mat-label>
                    <mat-select formControlName="cAutonomaNacimiento">
                        @for (comunidad of comunidadesNa; track comunidad) {
                        <mat-option [value]="comunidad.id_cautonoma">{{comunidad.nombre}}</mat-option>
                        }
                    </mat-select>
                    <mat-error>Campo requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Provincia</mat-label>
                    <mat-select formControlName="provinciaNacimiento">
                        @for (provincia of provinciasNa; track provincia) {
                        <mat-option [value]="provincia.nombre">{{provincia.nombre}}</mat-option>
                        }
                    </mat-select>
                    <mat-error>Campo requerido</mat-error>
                </mat-form-field>


            </div>
            }@else{
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Comunidad Autónoma de Nacimiento</mat-label>
                    <input matInput type="text" id="cAutonomaNacimiento" formControlName="cAutonomaNacimiento">
                </mat-form-field>
            </div>
            <div class="col-md-4">

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Provincia de Nacimiento</mat-label>
                    <input matInput type="text" id="provinciaNacimiento" formControlName="provinciaNacimiento">
                </mat-form-field>
            </div>
            } <!--} -->


        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Población de Nacimiento</mat-label>
                    <input matInput type="text" id="poblacionNacimiento" formControlName="poblacionNacimiento">
                </mat-form-field>
            </div>
            <!-- 
            <mat-form-field appearance="outline">
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
                <mat-datepicker-toggle matSuffix [for]="picker" pattern="\d{4}-\d{2}-\d{2}"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>-->
        </div>



    </div>
    <div class="modal-footer custom-blue-dark">
        <!--        <button type="button" #cerrarModal class="btn btn-dark" data-bs-dismiss="modal"
        (click)="this.altaPacienteForm.reset()">Cerrar</button> -->
        <button type="reset" #cerrarModal class="btn btn-dark" data-bs-dismiss="modal"
       >Cerrar</button>
        <button type="submit" class="btn pruebaOrigen text-white">Añadir</button>
       
    </div>

</form>