<div class="container mt-5">
    <div class="card text-center">
      <div class="card-body">
        <div class="d-flex justify-content-center align-items-center">
          <img src="../../../assets/sesamoLogo-Photoroom.png" alt="Sesamo Logo" class="img-fluid">
        </div>
        <h1 class="display-1 text-white mt-2">404</h1>
        <h2 class="text-secondary mt-4 ">Página no encontrada</h2>
        <p class="lead">¡Oops! La página que buscas no existe.</p>
        <p>Quizás quieras regresar al inicio o intentar buscar algo más.</p>
        <a class="btn btn-primary btn-lg mt-3" routerLink="/login">Ir al inicio de sesión</a>
      </div>
    </div>
  </div>
  