.container {
    max-width: 600px; 
    margin: auto; 
  }
  
  .card {
    border: 2px solid #007bff; 
    border-radius: 10px; 
    background: rgba(27, 60, 107, 1);
    color: white; 
  }
  
  .card-header {
    border-bottom: 2px solid #007bff;
  }
  
  h1 {
    font-size: 3rem; 
  }
  
  h2 {
    font-size: 1.5rem; 
  }
  
  .lead {
    font-size: 1rem; 
  }
  
  a.btn {
    font-size: 1rem; 
  }
  
  img {
    max-width: 200px; 
    max-height: 20vh; 
    width: auto; 
  }
  