/* usuarios.component.css */

.table-responsive {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    margin-top: 1rem;
  }
  
  .btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #fff;
  }
  
  .btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-outline-danger:hover {
    background-color: #dc3546;
    color: #fff;
  }
  .modal {
    z-index: 1050 !important;
  }
  
  /* Fade personalizado */
  .custom-fade {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1040; 
  }
  .table-container {
    height: 70vh; 
    display: flex;
    flex-direction: column;
  }
  
  .table-responsive {
    overflow-y: auto;
  }
  