.bg-primary {
    background-color: rgba(55, 118, 207, 0.657)!important;
  }
  
  .text-white {
    color: white !important;
  }
  .text-azul {
    color:  #102D43 !important;
  }
  .bg-azul{
    background-color:#2F6DCC;
  }

  .mat-option {
    z-index: 1000 !important;
  }
  
  ::ng-deep .cdk-overlay-container { z-index: 9999;}

  
  .custom-mb {
    margin-bottom: 2rem !important; 
  }
  
  @media (max-width: 576px) {
    .custom-mb {
      margin-bottom: 3rem  !important; 
    }
  }
  
  .blancoF{
    background: white;
  }

  .pruebaOrigen {
    background: rgba(27, 60, 107, 1);
  }
  