<form [formGroup]="formNotasEnfermeria" (ngSubmit)="crearNota(formNotasEnfermeria.value)">
    <div class="modal-body d-flex">
        <div class="container">
            <div class="row">
              
                <div class="col-md-6">


                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Fecha de toma</mat-label>
                        <input matInput formControlName="fecha_toma" readonly>
                        <mat-error *ngIf="formNotasEnfermeria.controls['fecha_toma'].hasError('required')">
                            La fecha de toma es requerida.
                        </mat-error>
                    </mat-form-field>

                    <!-- Hora de toma -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Hora de toma</mat-label>
                        <input matInput formControlName="hora_toma" type="time" readonly>
                        <mat-error *ngIf="formNotasEnfermeria.controls['hora_toma'].hasError('required')">
                            La hora de toma es requerida.
                        </mat-error>
                    </mat-form-field>

                    <!-- Temperatura -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Temperatura</mat-label>
                        <input matInput formControlName="temperatura" type="text">

                        <mat-icon matSuffix>°C</mat-icon>

                        <mat-error *ngIf="formNotasEnfermeria.controls['temperatura'].hasError('required')">
                            La temperatura es requerida.
                        </mat-error>
                        <mat-error *ngIf="formNotasEnfermeria.controls['temperatura'].hasError('pattern')">
                            La temperatura debe ser un número válido.
                        </mat-error>
                    </mat-form-field>


                    <!-- Tensión arterial sistólica -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Tensión arterial sistólica</mat-label>
                        <input matInput formControlName="tension_arterial_sistolica" type="number">
                        <mat-error *ngIf="formNotasEnfermeria.controls['tension_arterial_sistolica'].hasError('required')">
                            La tensión arterial sistólica es requerida.
                        </mat-error>
                        <mat-error *ngIf="formNotasEnfermeria.controls['tension_arterial_sistolica'].hasError('min')">
                            Valor mínimo 50.
                        </mat-error>
                        <mat-error *ngIf="formNotasEnfermeria.controls['tension_arterial_sistolica'].hasError('max')">
                            Valor máximo 250.
                        </mat-error>
                    </mat-form-field>

                    <!-- Tensión arterial diastólica -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Tensión arterial diastólica</mat-label>
                        <input matInput formControlName="tension_arterial_diastolica" type="number">
                        <mat-error *ngIf="formNotasEnfermeria.controls['tension_arterial_diastolica'].hasError('required')">
                            La tensión arterial diastólica es requerida.
                        </mat-error>
                        <mat-error *ngIf="formNotasEnfermeria.controls['tension_arterial_diastolica'].hasError('min')">
                            Valor mínimo 30.
                        </mat-error>
                        <mat-error *ngIf="formNotasEnfermeria.controls['tension_arterial_diastolica'].hasError('max')">
                            Valor máximo 150.
                        </mat-error>
                    </mat-form-field>

                    <!-- Frecuencia cardíaca -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Frecuencia cardíaca</mat-label>
                        <input matInput formControlName="frecuencia_cardiaca" type="number">
                        <mat-error *ngIf="formNotasEnfermeria.controls['frecuencia_cardiaca'].hasError('required')">
                            La frecuencia cardíaca es requerida.
                        </mat-error>
                        <mat-error *ngIf="formNotasEnfermeria.controls['frecuencia_cardiaca'].hasError('min')">
                            Valor mínimo 30.
                        </mat-error>
                        <mat-error *ngIf="formNotasEnfermeria.controls['frecuencia_cardiaca'].hasError('max')">
                            Valor máximo 200.
                        </mat-error>
                    </mat-form-field>

                    <!-- Frecuencia respiratoria -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Frecuencia respiratoria</mat-label>
                        <input matInput formControlName="frecuencia_respiratoria" type="number">
                        <mat-error *ngIf="formNotasEnfermeria.controls['frecuencia_respiratoria'].hasError('required')">
                            La frecuencia respiratoria es requerida.
                        </mat-error>
                        <mat-error *ngIf="formNotasEnfermeria.controls['frecuencia_respiratoria'].hasError('min')">
                            Valor mínimo 10.
                        </mat-error>
                        <mat-error *ngIf="formNotasEnfermeria.controls['frecuencia_respiratoria'].hasError('max')">
                            Valor máximo 40.
                        </mat-error>
                    </mat-form-field>
                    <!-- Glucemia capilar -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Glucemia capilar</mat-label>
                        <input matInput formControlName="glucemia_capilar" type="text">
                        <mat-error *ngIf="formNotasEnfermeria.controls['glucemia_capilar'].hasError('required')">
                            La glucemia capilar es requerida.
                        </mat-error>
                        <mat-error *ngIf="formNotasEnfermeria.controls['glucemia_capilar'].hasError('pattern')">
                            La glucemia capilar debe ser un número válido.
                        </mat-error>
                    </mat-form-field>


                </div>
                <div class="col-md-6">
                    <!-- Peso -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Peso</mat-label>
                        <input matInput formControlName="peso" type="text">
                        <mat-error *ngIf="formNotasEnfermeria.controls['peso'].hasError('required')">
                            El peso es requerido.
                        </mat-error>
                        <mat-error *ngIf="formNotasEnfermeria.controls['peso'].hasError('pattern')">
                            El peso debe ser un número válido.
                        </mat-error>
                    </mat-form-field>
                    <!-- Talla -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Talla</mat-label>
                        <input matInput formControlName="talla" type="text">
                        <mat-error *ngIf="formNotasEnfermeria.controls['talla'].hasError('required')">
                            La talla es requerida.
                        </mat-error>
                        <mat-error *ngIf="formNotasEnfermeria.controls['talla'].hasError('pattern')">
                            La talla debe ser un número válido.
                        </mat-error>
                    </mat-form-field>

                    <!-- Índice de masa corporal -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Índice de masa corporal</mat-label>
                        <input matInput formControlName="indice_masa_corporal" type="text" readonly>
                        <mat-error *ngIf="formNotasEnfermeria.controls['indice_masa_corporal'].hasError('required')">
                            El índice de masa corporal es requerido.
                        </mat-error>
                        <mat-error *ngIf="formNotasEnfermeria.controls['indice_masa_corporal'].hasError('pattern')">
                            El índice de masa corporal debe ser un número válido.
                        </mat-error>
                    </mat-form-field>



                    <!-- Ingesta de alimentos -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Ingesta de alimentos</mat-label>
                        <input matInput formControlName="ingesta_alimentos" type="text">
                        <mat-error *ngIf="formNotasEnfermeria.controls['ingesta_alimentos'].hasError('required')">
                            La ingesta de alimentos es requerida.
                        </mat-error>
                    </mat-form-field>

                    <!-- Tipo de deposición -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Tipo de deposición</mat-label>
                        <input matInput formControlName="tipo_deposicion" type="text">
                        <mat-error *ngIf="formNotasEnfermeria.controls['tipo_deposicion'].hasError('required')">
                            El tipo de deposición es requerido.
                        </mat-error>
                    </mat-form-field>

                    <!-- Náuseas -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Náuseas</mat-label>
                        <mat-select formControlName="nauseas">
                          <mat-option value="Sí">Sí</mat-option>
                          <mat-option value="No">No</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formNotasEnfermeria.controls['nauseas'].hasError('required')">
                          Las náuseas son requeridas.
                        </mat-error>
                      </mat-form-field>
                      
                      <!-- Prurito -->
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Prurito</mat-label>
                        <mat-select formControlName="prurito">
                          <mat-option value="Sí">Sí</mat-option>
                          <mat-option value="No">No</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formNotasEnfermeria.controls['prurito'].hasError('required')">
                          El prurito es requerido.
                        </mat-error>
                      </mat-form-field>

                    <!-- Observaciones -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Observaciones</mat-label>
                        <input matInput formControlName="observaciones" type="text">
                        <mat-error *ngIf="formNotasEnfermeria.controls['observaciones'].hasError('required')">
                            Las observaciones son requeridas.
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- Botón de Enviar -->
            </div>
            <div class="my-4 text-white font-weight-bold p-2"
                style="background: linear-gradient(to right, rgba(27, 60, 107, 1), rgba(13, 202, 240, 0.041)); font-size: 1.5rem;">

            </div>
            <div class="row">
                <div class="col-md-6">

                    <!-- Balance hídrico entrada alimentos -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Balance hídrico entrada alimentos</mat-label>
                        <input matInput formControlName="balance_hidrico_entrada_alimentos" type="number">
                        <mat-error *ngIf="formNotasEnfermeria.controls['balance_hidrico_entrada_alimentos'].hasError('required')">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>

                    <!-- Balance hídrico entrada líquidos -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Balance hídrico entrada líquidos</mat-label>
                        <input matInput formControlName="balance_hidrico_entrada_liquidos" type="number">
                        <mat-error *ngIf="formNotasEnfermeria.controls['balance_hidrico_entrada_liquidos'].hasError('required')">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>

                    <!-- Balance hídrico fluidoterapia -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Balance hídrico fluidoterapia</mat-label>
                        <input matInput formControlName="balance_hidrico_fluidoterapia" type="number">
                        <mat-error *ngIf="formNotasEnfermeria.controls['balance_hidrico_fluidoterapia'].hasError('required')">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>

                    <!-- Balance hídrico hemoderivados -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Balance hídrico hemoderivados</mat-label>
                        <input matInput formControlName="balance_hidrico_hemoderivados" type="number">
                        <mat-error *ngIf="formNotasEnfermeria.controls['balance_hidrico_hemoderivados'].hasError('required')">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>

                    <!-- Balance hídrico otros entrada -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Balance hídrico otros entrada</mat-label>
                        <input matInput formControlName="balance_hidrico_otros_entrada" type="number">
                        <mat-error *ngIf="formNotasEnfermeria.controls['balance_hidrico_otros_entrada'].hasError('required')">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>

                    <!-- Balance hídrico diuresis -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Balance hídrico diuresis</mat-label>
                        <input matInput formControlName="balance_hidrico_diuresis" type="number">
                        <mat-error *ngIf="formNotasEnfermeria.controls['balance_hidrico_diuresis'].hasError('required')">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>


                </div>
                <div class="col-md-6"> <!-- Balance hídrico vómitos -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Balance hídrico vómitos</mat-label>
                        <input matInput formControlName="balance_hidrico_vomitos" type="number">
                        <mat-error *ngIf="formNotasEnfermeria.controls['balance_hidrico_vomitos'].hasError('required')">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>

                    <!-- Balance hídrico heces -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Balance hídrico heces</mat-label>
                        <input matInput formControlName="balance_hidrico_heces" type="number">
                        <mat-error *ngIf="formNotasEnfermeria.controls['balance_hidrico_heces'].hasError('required')">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>

                    <!-- Balance hídrico sonda nasogástrica -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Balance hídrico sonda nasogástrica</mat-label>
                        <input matInput formControlName="balance_hidrico_sonda_nasogastrica" type="number">
                        <mat-error *ngIf="formNotasEnfermeria.controls['balance_hidrico_sonda_nasogastrica'].hasError('required')">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>

                    <!-- Balance hídrico drenajes -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Balance hídrico drenajes</mat-label>
                        <input matInput formControlName="balance_hidrico_drenajes" type="number">
                        <mat-error *ngIf="formNotasEnfermeria.controls['balance_hidrico_drenajes'].hasError('required')">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>

                    <!-- Balance hídrico otras pérdidas -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Balance hídrico otras pérdidas</mat-label>
                        <input matInput formControlName="balance_hidrico_otras_perdidas" type="number">
                        <mat-error *ngIf="formNotasEnfermeria.controls['balance_hidrico_otras_perdidas'].hasError('required')">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>

                    <!-- Total balance hídrico (solo lectura) -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Total balance hídrico</mat-label>
                        <input matInput formControlName="total_balance_hidrico" type="number" readonly>
                        <mat-error *ngIf="formNotasEnfermeria.controls['total_balance_hidrico'].hasError('required')">
                            Este campo es requerido.
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>

        </div>
    </div>
    <!-- fin-->

    <div class="modal-footer">
      
        <button type="reset" class="btn btn-dark" #btnClose data-bs-dismiss="modal">Cerrar</button>
        <button  class="btn pruebaOrigen text-white" type="submit" >Crear</button>
    </div>
</form>