<div class="grid-container">
  <h1 class="mat-h1">Estadísticas de uso</h1>
  <mat-grid-list cols="6" rowHeight="450px" gutterSize="10px">
    <mat-grid-tile *ngFor="let card of (cards | async)" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="card.title === 'Visitas por Día'" >
            <apx-chart
              [series]="vDiaG.series"
              [chart]="vDiaG.chart"
              [xaxis]="vDiaG.xaxis"
              [dataLabels]="vDiaG.dataLabels"
              [title]="vDiaG.title"
            ></apx-chart>
          </div>
          <div *ngIf="card.title === 'Visitas por Mes'">
            <apx-chart
              [series]="vMesG.series"
              [chart]="vMesG.chart"
              [xaxis]="vMesG.xaxis"
              [dataLabels]="vMesG.dataLabels"
              [title]="vDiaG.title"
            ></apx-chart>
          </div>
          <div *ngIf="card.title === 'Visitas por Año'">
            <apx-chart
              [series]="vAnioG.series"
              [chart]="vAnioG.chart"
              [xaxis]="vAnioG.xaxis"
              [dataLabels]="vAnioG.dataLabels"
              [title]="vAnioG.title"
            ></apx-chart>
          </div>
          <div *ngIf="card.title === 'Total de Visitas'" class="total-visits d-flex justify-content-center align-items-center h-100">
            <h1 class="large-number mt-5 pt-5">{{ totalVisitas }}</h1>
          </div>
          <div *ngIf="card.title === 'Visitas por Página'">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [dataLabels]="chartOptions.dataLabels"
              [title]="chartOptions.title"
            ></apx-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
