.square {
  display: flex;
  justify-content: center;
  background-color: lightgray;
  min-height: 7vh;
}
.squareCenter{
  align-items: center;
}

.squareMini {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  min-height: 4vh;
}


.especial {
  height: 79vh;
}

.bg-centro {
  background-color: #86cce7;

}

/*btns de registro y el otro*/
.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.buttons-container button {
  flex: 1 1 auto;
  margin: 5px;
}

@media (max-width: 600px) {
  .buttons-container {
    flex-direction: column;
  }

  .buttons-container button {
    width: 80%;
  }
}

.bg-ama {
  background-color: #FDA92B;
}

.bg-verde {
  background-color: #1cb1a7;
}

.bg-verdeO {
  background-color: #1f9190;
}

.bg-verdeC {
  background-color: #7dfed1;
}

.bg-azulO {
  background-color: #2f6dcc;
}

.bg-azulC {
  background-color: #5999fa;
}

/*color x, invertimos*/
.custom-close {
  filter: invert(1);
}


.custom-width {
  width: 75%;
}

@media (min-width: 992px) {
  .custom-width {
    width: 50%;
  }
}


.buttons-container button {
  margin: 5px;
}

.custom-shadow {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), 
              -4px -4px 8px  rgba(255, 255, 255, 0.3),
              4px -4px 8px rgba(229, 229, 229, 0.3),
              -4px 4px 8px rgba(0, 0, 0, 0.3);
}


  .pruebaOrigen {
    background: rgba(27, 60, 107, 1);
  }
  