<form [formGroup]="hojaPrescripcionForm" (ngSubmit)="crearHoja(hojaPrescripcionForm.value)">
    <div class="modal-body">

        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Especialidad</mat-label>
                    <input matInput formControlName="especialidad">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Principio Activo</mat-label>
                    <input matInput formControlName="principio_activo">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Dosis</mat-label>
                    <input matInput formControlName="dosis">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Vía Administración</mat-label>
                    <mat-select formControlName="via_administracion">
                      <mat-option value="Intravenosa">Intravenosa</mat-option>
                      <mat-option value="Oral">Oral</mat-option>
                      <mat-option value="Subcutánea">Subcutánea</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Frecuencia</mat-label>
                    <input matInput formControlName="frecuencia">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Fecha Fin Tratamiento</mat-label>
                    <input matInput formControlName="fecha_fin_tratamiento" type="date">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="reset" #btnClose class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn pruebaOrigen text-white">Guardar</button>
    </div>
</form>