
    <form [formGroup]="altaPacienteForm" (ngSubmit)="darDeAltaPaciente(altaPacienteForm.value)">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>NHC</mat-label>
                        <input matInput type="text" id="nhcf" formControlName="nhc" readonly>
                    </mat-form-field>
                </div><!-- 
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>NIF</mat-label>
                    <input matInput type="text" id="nif" formControlName="nif">

                </mat-form-field>
            </div>-->

            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Motivo</mat-label>
                        <mat-select id="motivo" formControlName="motivo">
                            <mat-option value="Alta Voluntaria">Alta Voluntaria</mat-option>
                            <mat-option value="Domicilio (fin de cuidados)">Domicilio (fin de cuidados)</mat-option>
                            <mat-option value="Exitus">Exitus</mat-option>
                            <mat-option value="Exitus por gripe H1N1">Exitus por gripe H1N1</mat-option>
                            <mat-option value="Fuga">Fuga</mat-option>
                            <mat-option value="Translado a otro centro sanitario">Translado a otro centro
                                sanitario</mat-option>
                            <mat-option value="Translado a centro socio-sanitario">Translado a centro
                                socio-sanitario</mat-option>
                            <mat-option value="Otros">Otros</mat-option>

                        </mat-select>
                        <mat-error>Campo requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Tipo</mat-label>
                        <mat-select id="tipo" formControlName="tipo">
                            <mat-option value="Hospitalización">Hospitalización</mat-option>
                            <mat-option value="Urgencias">Urgencias</mat-option>
                        </mat-select>
                        <mat-error>Campo requerido</mat-error>
                    </mat-form-field>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Cama</mat-label>
                        <input matInput type="text" id="cama" formControlName="cama" [value]="camaName" readonly>
                        <mat-error>Campo Requerido</mat-error>
                    </mat-form-field>

                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Fecha</mat-label>
                        <input matInput type="text" id="fecha" formControlName="fecha" readonly>
                        <mat-error>Campo Requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Hora</mat-label>
                        <input matInput type="text" id="hora" formControlName="hora" readonly>
                        <mat-error>Campo Requerido</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="modal-footer custom-blue-dark">
               
                <button type="reset" #btnClose class="btn btn-dark" data-bs-dismiss="modal"
                  >Cerrar</button>
                    <button type="submit" class="btn pruebaOrigen text-white ">Aceptar</button>
            </div>
        </div>

    </form>
